:root {
    --background: white;
    --bg-color: white;
    --typewriterSpeed: 3s;
    --typewriterCharacters: 19;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
*, *::before, *::after {
    box-sizing: border-box;
  }
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(255, 255, 255);
}
header{
    background-color: white;
    z-index: 999;
    
    width: 100%;
    top: 0;
}
.nav-container{
    margin: 0 auto;
    width: 80%;
}
nav{
    height: 80px;
    width: 100%;
    background-color: white;
}
label.logo{
    font-size: 35px;
    
    line-height: 80px;
    font-weight: bold;
}
nav ul {
    float: right;
    margin-right: 40px;
    
}
nav li{
    display: inline-block;
    margin: 0 25px;
    line-height: 80px;
    position: relative;
    background-color: white;
}
nav a{
    color: black;
    font-size: 18px;
    text-transform: uppercase;
}
nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #000;
  
    position: absolute;
    top: 0;
    width: 0%;
  
    transition: all ease-in-out 250ms;
  }
  
  nav a:hover::before {
    width: 100%;
  }
  nav #icon{
      color: black;
      font-size: 30px;
      line-height: 80px;
      float: left;
      
      cursor: pointer;
      display: none;
  }
  .overall{
      margin: 0 auto;
      width: 80%;
  }
  .contact{
    font-size: 50px;
    font-weight: lighter;
    
    margin-top: 90px;
    margin-bottom: 0;
}
  
.name{
    font-size: 34px;
    margin-top: 0;
    
    margin-bottom: 0px;
}
.gmail{
    font-size: 34px;
    margin-top: 20px;
}



::placeholder{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    
    
}
 form label{
    display: block;
    
}

input,[type=text] {
  
    width:200px;
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    box-sizing: border-box;
    outline: none;
    border: 2px solid black;
    margin-top: 5px;
    
}
.mail{
    width: 410px;
}

.note{
    width: 410px;
    padding: 10px;
    height: 200px;
    border-radius: 20px;
    box-sizing: border-box;
    outline: none;
    border: 2px solid black;
    margin-top: 5px;
    resize: none;
    overflow: auto;
    overflow-x: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}
.overall{
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 1s ease forwards;
    clear: both;
}

@keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }







.btn{
    margin-top: 10px;
    padding: 15px;
    background-color: black;
    color: white;
    width: 80px;
    margin-left: 330px;
    border: 2px solid black;
    
}
.btn:hover{
    background-color: transparent;
    color: black;
}





  body::-webkit-scrollbar {
    display: none;
    
  }
  @media (max-width: 1048px) {
    label.logo{
        font-size: 32px;
        padding-left:60px;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 17px;
    }
    
      
      
    
}
@media (max-width: 909px) {
    header{
        position: fixed;
    }
    nav #icon{
        display: block;
    }
    nav ul{
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        
        top: 80px;
        left: -100%;
        text-align: center;
        
        transition: all 400ms ease-in-out;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
        
    }
    nav a:active,
    nav a:hover{
        color: rgba(0, 0, 0, 0.363);
    }
    nav a:hover::before{
        display: none;
    }


    nav ul.show{
        left: 0;
    }
    label.logo{
      font-size: 24px;
      padding-left: 30px;
      padding-left: 70px;
    }

    .contact{
        margin-top: 11vh;
    }
    
}

@media screen and (max-width: 850px) {

  
}

@media screen and (max-width: 770px) {
  .contact{
      margin-left: 0;
    }

}

@media screen and (max-width: 600px) {
  .contact{
      margin-left: 0;
    }
    .contact-container{
      margin-left: 0;
    }
    form{
      margin: 0;
      margin-left: 0px;
    }
    .container{
      margin: 0;
      
    }
    .contact{
      font-size: 35px;
    }
    .name,
    .gmail{
      font-size: 30px;
    }
    input, [type=text]{
      width: 160px;
    }
    .mail,
    .note{
      width: 330px;
    }
    .btn{
      margin-left: 250px;
    }
    body::-webkit-scrollbar {
        overflow: hidden;
        
      }
}


@media screen and (max-width:400px) {

  .contact-container{
    margin-left: 0;
  }
  .contact{
    margin-left: 45px;
  }
  
  
  input, [type=text]{
    width: 145px;
  }
  
  .name,
  .gmail{
    font-size: 25px;
    clear: both;
  }
  .mail,
  .note{
    width: 300px;
  }
  .btn{
    margin-left: 220px;
    margin-bottom: 8vh;
  }
  
  
}